/* Small screen settings */

/* Logo */
.navbar-brand > img {
  height: 35px;
}

/* Additional Navlinks outside collapse button */
.add-navlink {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  font-size: 12px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Navlinks */
.navbar-nav {
  text-align: center;
}

/* Medium screen settings */

/* Large screen settings */
